{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true,
  },
  "parserOptions": {
      ecmaFeatures: {
          jsx: true,
      },
      sourceType: "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [ "react" ]
}
