.button {
    width: 298px;
    height: 50px;
    line-height: 50px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button__icon {
  width: 46px;
  height: 46px;
  margin: 2px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.button__title {
  padding-left: 70px;
  font-weight: 700;
}

.button__arrow {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

