div {
    box-sizing: border-box
}

.top-bar {
    background-color: #24292e;
    height: 64px;
    display: flex;
}

.top-bar .logo-container {
    flex: 0;
}

.top-bar .logo-container .logo {
    height: 40px;
    padding: 12px 10px;
    border-radius: 50%;
}

.top-bar .menu-container {
    flex: 1;
    text-align: left;
}

.top-bar .user-container {
    width: 300px;
    text-align: right;
    display: flex;
    position: relative;
    height: 100%;
}

.top-bar .user-container .user-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
}

.top-bar .user-container .user-picture-container .user-picture {
    border-radius: 50%;
}

.top-bar .user-container .user-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar .user-container .user-info .user-username {
    width: 100%;
    text-align: right;
    color: #ccc;
    white-space: nowrap;
}

.top-bar .user-container .user-info .user-name {
    width: 100%;
    text-align: right;
    color: #fff;
    white-space: nowrap;
}

.top-bar .user-container .user-menu:before {
    content: '';
    border-bottom: 10px solid #f9f9f9;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    right: 9px;
}

.top-bar .user-container .user-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.top-bar .user-container .user-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-bar .user-container .user-menu ul li {
    list-style: none;
    margin: 10px;
    text-align: left;
}

.top-bar .user-container .user-menu ul li a, a:link, a:visited {
    text-decoration: none;
    color: #000;
}

.top-bar .user-container .user-menu ul li a:hover {
    color: #777;
}

.top-bar .user-container:hover .user-menu {
    display: block;
}

.top-bar .user-container .user-menu:hover {
    display: block;
}

@media (min-width: 1200px) {
    .top-bar {
        flex-direction: row;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    .top-bar {
        flex-direction: row;
    }
}

@media (min-width: 320px) and (max-width: 799px) {
    .top-bar {
        flex-direction: column;
        height: auto;
        width: 100vw;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .top-bar .menu-container {
        text-align: center;
    }
    .top-bar .user-container {
        width: auto;
        text-align: center;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .top-bar .user-container .user-info .user-username {
        text-align: left;
    }
    .top-bar .user-container .user-info .user-name {
        text-align: left;
    }
    .top-bar .user-container .user-menu:before {
        top: -5px;
        left: 10px;
    }
    .top-bar .user-container .user-menu {
        top: calc(100% + 7px);
        left: 10px;
    }
}