/* 
  Copyright 2019 Globo.com authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.App-logo {
  pointer-events: none;
  margin-top: 30px;
}

.App-header {
  background-color: #ffffff;
  min-height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #4201da;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}